{% extends 'base.html' %}
{% block content %}
    <div class="localib ">
        <h2 class="h2_boder">Author Details Page ...! </h2>
        <div class="L2_color">
            <p><STRONG> First Name : </STRONG>{{ object.first_name }}</p>
            <p><STRONG> Last Name : </STRONG>{{ object.lest_name }}</p>
            <p><STRONG> Address : </STRONG>{{ object.adderss }}</p>
            <p><STRONG> date_OF_birth : </STRONG>{{ object.date_birth }}</p>
            <p><STRONG> death_OF_birth : </STRONG>{{ object.death_birth }}</p>

        </div>

    </div>
</div>
{% endblock %}