{% extends 'base.html' %}
{% block content %}
    <div class="localib ">
        <h2 class="h2_boder">Books Details Page ...! </h2>
        <div class="L2_color">
            <p><STRONG> Title : </STRONG>{{ object.title }}</p>
            <p><STRONG> Author : </STRONG>{{ object.author }}</p>
            <p><STRONG> Summary : </STRONG>{{ object.summarys }}</p>
            <p><STRONG> Pub_name : </STRONG>{{ object.pub_name }}</p>
            <p><STRONG> Publisher : </STRONG>{{ object.publisher }}</p>

        </div>
    </div>
{% endblock %}